__pycache__/

# C extensions
*.so

# pycharm
.idea/
.idea

# Packages
*.egg
*.egg-info
.pypirc
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
dist/

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build

# Cookiecutter
output/
# data
data/
*.zip
*.h5
**/plots/

.python-version